/* Base Styles */

* {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: large;
  color: black;
  background: #c3d3e3;
  transition: background-color .5s;
}

/* Section Styles */

header {
  text-align: center;
  background: url(../img/paint2.jpg) no-repeat top center;
  box-shadow: 0 8px 6px -6px black;
  background-size: cover;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1;
}

header .logo {
  margin-top: 20px;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tag {
  text-align: center;
  background-color: #d5dce6;
  font-weight: 900;
  padding: 10px;
  border-radius: 10px;
  display: table;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
  font-size: 250%;
  color: #830504;
}

.artist{
  font-size: 150%;
  color: rgb(21, 92, 21);
}

.menu {
  color: #521ce6
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; 
  z-index: 1; /* Stay on top */
  top: 0; 
  left: 0;
  background-color: #830504; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; 
  transition: 0.5s; 
}

/* The navigation menu links */
.sidenav a {
  padding: 30px;
  text-decoration: none;
  font-size: 20px;
  color: #63c7f5;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #e1b826;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content to push to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

h2 {
  text-align: center;
  color: orangered;
}

p {
  color: black;
}

.card {
  margin: 20px;
  padding: 20px 20px 20px;
  max-width: 650px;
  text-align: justify;
  background: rgb(236, 234, 234);
  border-top: 4px solid #4f2903;
  border-bottom: 4px solid #4f2903;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutCard {
  margin: 20px;
  padding: 20px 20px 20px;
  text-align: justify;
  background: rgb(236, 234, 234);
  border-top: 4px solid #4f2903;
  border-bottom: 4px solid #4f2903;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutH {
  text-align: center;
  color: rgb(19, 201, 19);

}
.profile-image {
  position: relative;          /* where the next element will be automatically positioned */
  display: inline-block;       /* causes element width to shrink to fit content */
  left: 50%;                   /* moves left side of image to center of parent element */
  transform: translate(-50%);  /* centers image on "left: 50%" position */
  margin-top: 10px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid rgb(82, 21, 21);
  transition: all .5s;
}


footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}
a.facebook {
  background-image: url(../img/facebook.png);
}
a.instagram {
  background-image: url(../img/instagram.png);
}
a.email {
  background-image: url(../img/email.png);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
  overflow: auto;
}

/* When the screen is less than 600 pixels wide*/  

@media screen and (max-width: 600px) {
  
  .sidenav a {
    font-size: 18px;
  }
  .name {
    font-size: 195%;
    transition: all .5s;
  }
}

 /*Styles for larger screens */

@media screen and (min-width: 720px) {
  
  .flex {
      display: flex;
      max-width: 1250px;
      justify-content: space-around;
      margin: 0 auto;
  }

  .flex-container {
    display: flex;
    max-width: 80%;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
  }

  .aboutPar {
    margin-left: 30px;
    line-height: 1.8rem;
  }

  header {
    min-height: 450px;
  }

  main {
    padding: 50px 0 ;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}

